@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}

#caja{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorCancha{
    display: flex;
    flex-direction: row;
}

#contenedorCancha img{
    width: 40px;
    height: 40px;
}

#arquero{
    grid-area: arquero;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defensorDerecho{
    grid-area: defensorDerecho;
    display: flex;
    justify-content: left;
    align-items: center;
}

#defensorIzquierdo{
    grid-area: defensorIzquierdo;
    display: flex;
    justify-content: right;
    align-items: center;
}

#volanteDerecho{
    grid-area: volanteDerecho;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#volanteCentral{
    grid-area: volanteCentral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volanteIzquierdo{
    grid-area: volanteIzquierdo;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#delantero{
    grid-area: delantero;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancha{
    display: grid;
    background-color: green;
    grid-template-areas:
    "delantero delantero delantero"
    "volanteIzquierdo volante volanteDerecho"
    "volanteCentral volanteCentral volanteCentral"
    "defensorIzquierdo defensor defensorDerecho"
    "arquero arquero arquero";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 440px;
    height: 660px;
    background-image: url(./img/cancha-futbol.jpeg);
}

#suplentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 760;
    width: 150px;
    background: radial-gradient(circle at 81.9% 53.5%, rgb(173, 53, 53) 16.3%, rgb(240, 60, 60) 100.2%);
    padding: 9px;
}

.divBotonSuplentes{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.mas{
    position: absolute;
    top: 7.5px;
    left: 12.75px;
    font-size: 20px;
}

.botonJugador{
    background-color: transparent;
    border: none;
}

.jugador{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: "Anton";
    color: black;
}

.jugador p{
    margin: 2px;
}

#suplentes .jugador{
    margin-top: 20.2px;
}

.btn{
    padding: 3px;
    font-size: 14px;
}

#total{
    margin-left: 20px;
    background-color: blue;
    color: black;
    padding: 15px;
}