@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#caja{
    display: flex;
    justify-content: center;
    width: 100%;
}

.eliminarEquipo{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

#contenedorCancha{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contenedorCancha img{
    width: 40px;
    height: 40px;
}

#arquero{
    grid-area: arquero;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defensorDerecho{
    grid-area: defensorDerecho;
    display: flex;
    justify-content: left;
    align-items: center;
}

#defensorIzquierdo{
    grid-area: defensorIzquierdo;
    display: flex;
    justify-content: right;
    align-items: center;
}

#volanteDerecho{
    grid-area: volanteDerecho;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#volanteCentral{
    grid-area: volanteCentral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volanteIzquierdo{
    grid-area: volanteIzquierdo;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#delantero{
    grid-area: delantero;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancha{
    display: grid;
    background-color: green;
    grid-template-areas:
    "delantero delantero delantero"
    "volanteIzquierdo volante volanteDerecho"
    "volanteCentral volanteCentral volanteCentral"
    "defensorIzquierdo defensor defensorDerecho"
    "arquero arquero arquero";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 440px;
    height: 660px;
    background-image: url(./img/cancha-futbol.jpeg);
}

#bancoSuplentes{
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    flex-direction: row;
    align-items: center;
    background: radial-gradient(circle at 81.9% 53.5%, rgb(173, 53, 53) 16.3%, rgb(240, 60, 60) 100.2%);
    padding: 9px;
}

.divBotonSuplentes{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.mas{
    position: absolute;
    font-size: 20px;
    top: 8.5px;
}

.botonJugador{
    background-color: transparent;
    border: none;
}

.jugador{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: "Anton";
    color: black;
}

.jugador p{
    margin: 2px;
}

#bancoSuplentes .jugador{
    margin-top: 20.2px;
}

.btn{
    padding: 3px;
    font-size: 14px;
}

#suplente{
    display: flex;
}

@media (max-width: 595px){
    #cancha{
        background-image: url("../img/cancha-futbol-2.jpeg");
        width: 390px;
        height: 585px;
    }

    #bancoSuplentes{
        width: 390px;
    }
}